{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/semi": [
      2
    ],
    "@typescript-eslint/ban-ts-comment": [
      0
    ],
    "@typescript-eslint/no-empty-function": [
      1
    ]
  }
}